<h1>This is Contact Page</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Welcome To Bootstrap</p>
        </div>
        <div class="col-md-4">
            <p>Welcome To Bootstrap</p>
        </div>
        <div class="col-md-4">
            <p>Welcome To Bootstrap<i class="fa fa-american-sign-language-interpreting"></i></p>
            <p><i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i></p>
        </div>
    </div>

</div>